.productName {
  background-color: white;
  color: gray;
}

.productQuantityButton {
  height: 50px;
}

.productQuantityInput {
  height: 50px;
  border-radius: 10px;
  text-align: center;
}

.addCart {
  margin-bottom: 10px;
}

.margin {
  margin-bottom: 10px;
}
