.productName {
    background-color: white;
    color: gray;
}

.productQuantityButton{
    background-color: gray;
    color: white;
    border-radius: 0;
    height: 50px;
    border-radius: 10px;
    
}

.card-count{
    border: 1px solid #000;
    border-radius: 10px;
    width: 30%;
}


.productQuantityInput{
    margin: 15px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.addCart{
    margin-bottom: 10px;
}